@using Microsoft.AspNetCore.Identity
@using webappEF.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    
}

<div class="d-flex gap-3">
    
    @if(SignInManager.IsSignedIn(User)){
        
        <div class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">@UserManager.GetUserName(User)</a>
        </div>
        <div class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Logout">Logout</a>
        </div>

    }else{

        <div class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
   
    }

   
</div>   